* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: cover;
}

body {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  background-color: #fff;
  display: flex;
  width: 75%;
  border-radius: 15px;
}

.text {
  display: flex;
  flex-direction: column;
}

.feature-info {
  display: none;
}

.feature-title {
  display: flex;
  justify-content: space-between;
}

button {
  all: unset;
  cursor: pointer;
}
